$bg-gray0: #36393f;
$bg-gray1: #313339;
$bg-gray2: #2f3136;

$txt-gray0: #b0b0b2;
$txt-gray1: #8e9297;
$txt-gray2: #72767d;
$txt-gray3: #6d7177;

$txt-white: #d4d4d5;

$error-red: #bc1315;
$light-blue: #7289da;
