$bg-gray0: #36393f;
$bg-session-form: $bg-gray0;
$server-list-btn-bg: $bg-gray0;
$bg-chat: $bg-gray0;
$create-channel-form-bg: $bg-gray0;
$chat-container-bg: $bg-gray0;

$bg-gray1: #313339;
$bg-session-input: $bg-gray1;

$bg-gray2: #2f3136;
$create-server-input-name-txt: $bg-gray2;
$sidebar-bg: $bg-gray2;
$create-channel-form-bottom-bg: $bg-gray2;

$content-top-divider: #242529;
$content-top-divider: $content-top-divider;

$bg-gray4: #202225;
$bg-server-list: $bg-gray4;

$bg-gray5: #f6f6f7;
$create-server-form-container-bottom: $bg-gray5;

$underline-gray: #f0f0f0;
$underline: $underline-gray;

$txt-gray0: #b0b0b2;
$landing: $txt-gray0;

$txt-gray1: #8e9297;
$txt-session-label: $txt-gray1;
$create-channel-label-txt: $txt-gray1;

$txt-gray-hover: #dcddde;
$tab-hover: $txt-gray-hover;
$message-body: $txt-gray-hover;
$message-user-icon-name: $txt-gray-hover;

$txt-gray2: #72767d;
$create-channel-private-deselected-bg: $txt-gray2;
$chat-title-hash: $txt-gray2;
$message-timestamp: $txt-gray2;

$txt-gray44: #949494;
$create-server-back-border: $txt-gray44;

$txt-gray6: #4f545c;
$message-user-icon-bg: $txt-gray6;

$txt-gray7: #40444b;
$chat-form-bg: $txt-gray7;

$scrollbar-gray: #25272b;
$scrollbar-tracker: $scrollbar-gray;

$ui-color: #b9bbbe;
$create-channel-text-hash: $ui-color;
$create-channel-private-lock: $ui-color;
$create-channel-checkbox-deselected: $ui-color;
$create-channel-private-description: $ui-color;

$txt-white: #d4d4d5;
$landing-hover: $txt-white;
$title-session-form: $txt-white;

$error-red: #bc1315;

$light-blue: #7289da;
$default-btn: $light-blue;
$active-input: $light-blue;
$create-channel-checkbox-selected: $light-blue;
$create-channel-private-selected-bg: $light-blue;

$warm-green: #43b581;