/* Define application-wide selectors here!*/

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#root {
  background: $bg-gray3;
  height: 100vh;
  color: $txt-white;
  position: relative;
}

.content-mount-container {
  display: flex;
}

strong {
  font-weight: 700;
}

.default-btn {
  line-height: 16px;
  padding: 2px 16px;
  background: $default-btn;
  border-radius: 3px;
}