.channel-list-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.channel-list-item-container {
  display: flex;
}

.channels-tab {
  color: $channels-tab;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  padding: 6px 10px;
  margin: 1px 8px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: $channels-tab-hover;
    background: $bgray-overlay-hover;
  }

  &:active {
    color: white;
    background: $bgray-overlay-active;
  }
}

.channel-list-item-hash {
  margin-right: 8px;
}