.channel-index-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;

  &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid #36393f;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-track {
    display: none;
    background: transparent;
    border: 2px solid transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(32, 34, 37, 0.6);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: move;

    &:hover, &:active {
      background: #25272b;
    }
  }

  &::-webkit-scrollbar-track-piece {
    background: #2f3136;
    border: 3px solid #36393f;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 8px;
    height: 8px;
  }
  
  &:hover {
    // scrollbar-width: thin;

    &::-webkit-scrollbar {
      display: auto;
    }
  }
  
  .channel-tab {
    display: flex;
    align-items: center;
    color: #72767d;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    padding: 6px 10px;
    margin: 1px 8px;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background: rgba(79, 84, 92, 0.16);
      
      .name {
        color: #dcddde;
      }
    }
  
    &.active {
      background: rgba(79, 84, 92, 0.32);
      cursor: default;
    
      .name {
        color: white;
      }
    }
  
    .svg-hash {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  } // End channel-tab

  .context-menu-container {
    font-weight: 700;
    min-width: 188px;
    max-width: 320px;
    padding: 6px 8px;
    background: #18191c;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
    z-index: 2;
    
    .menu-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #b9bbbe;
      font-size: 14px;
      line-height: 18px;
      min-height: 32px;
      padding: 0px 8px;
      border-radius: 2px;
      margin: 2px 0px;
      cursor: pointer;
    
      &:hover {
        background: rgba(79, 84, 92, 0.16);
      }
    
      &.delete-channel {
        color: #f04747;
      }
      
      .txt {
        line-height: 24px;
      }
    }

    .svg-logo-cat {
      width: 18px;
      height: 18px;
      fill: #b9bbbe;
    }
  } // End context-menu-container
}