.channel-menu-container {
  position: absolute;
  left: 232px;
  top: -7px;
  bottom: -7px;
  width: 186px;
  padding: 6px 4px;
  background: $context-menu-bg;
  border-radius: 4px;

  &.hide {
    display: none;
  }

  &.show {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.channel-menu-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: $context-menu-option-txt;
  height: 24px;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 2px 4px;
  cursor: pointer;

  &:hover {
    background: $bgray-overlay-hover;
  }

  &.delete-channel {
    color: $context-tab-warning;
  }
}

.channel-menu-option-txt {
  line-height: 24px;
}

.channel-menu-option-icon {
  margin-left: 4px;
  z-index: 2;
}