.chat-container {
  background: $chat-container-bg;
  height: 100vh;
}

.chat-title-container {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 0px 8px;
  border-bottom: 1px solid $content-top-divider;
}

.svg-hash {
  fill: #b9bbbe;
  margin: 0px 8px;
  opacity: 0.6;
}

.chat-title-txt {
  color: white;
  font-weight: 700;
}


.chat-content-container {
  display: flex;
  height: calc(100% - 49px);
  max-height: calc(100% - 49px);
}

.chat-area-container {
  height: 100%;
  width: 100%;
}

.chat-form-container {
  padding: 20px 20px 30px 20px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.06);
}

.chat-form-input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  min-height: 20px;
  max-height: 144px;
  padding: 10px;
  background: $chat-form-bg;
  border-radius: 8px;
  resize: none;
}