.create-channel-form-container {
  width: 440px;
  background: $create-channel-form-bg;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);

  form {
    display: flex;
    flex-direction: column;
  
    .header {
      color: white;
      font-weight: 700;
      padding: 20px;
    }
    
    .input-container {
      padding: 0px 20px;
    
      .checkbox-container {
        margin-bottom: 20px;
        
        .text-container {
          display: flex;
          align-items: center;
          background: #7289da;
          border: 1px solid #7289da;
          border-radius: 3px;
          padding: 10px;
          cursor: pointer;
      
          .checkbox {
            color: #7289da;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            background: white;
            border-radius: 3px;
            cursor: pointer;
          }
          
          .input-text {
            display: flex;
            align-items: center;
            margin: 0px 8px;
      
            .hash {
              color: #b9bbbe;
              font-size: 20px;
              width: 24px;
              height: 24px;
              margin: 0px 6px;
            }
            
            .txt {
              color: white;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
      
      .name-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      
        .input-name {
          height: 40px;
          padding: 10px;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 3px;
        
          &:focus {
            border-color: #7289da;
          }
        }
      }
      
      .private-container {
        margin-bottom: 20px;
        
        .input-container {
          display: flex;
          justify-content: space-between;
        
          .header-container {
            display: flex;
            cursor: pointer;
          
            .lock {
              color: #b9bbbe;
              font-size: 12px;
              line-height: 16px;
              margin: 3px;
            }
            
            .txt {
              font-size: 16px;
              line-height: 24px;
            }
          }
      
          .checkbox {
            position: relative;
            width: 42px;
            height: 24px;
            border-radius: 14px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
            cursor: pointer;
          
            .slider {
              content: '';
              display: block;
              position: absolute;
              width: 18px;
              height: 18px;
              background: white;
              border-radius: 9px;
              margin: 3px;
              z-index: 1;
          
              transition-property: left;
              transition-duration: 0.2s;
            }
            
            &.deselected {
              background: #72767d;
          
              .slider {
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
              }
            }
            
            &.selected {
              background: #7289da;
          
              .slider {
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 18px;
              }
            }
          }
        }
        
        .description {
          color: #b9bbbe;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          margin-top: 4px;
        }
      }
      
      .roles-container {
        .private-role-container {
          .role-selection {
            display: flex;
            justify-content: space-between;
            height: 45px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
            margin-bottom: 20px;
          
            .role-name {
              font-size: 16px;
              line-height: 24px;
            }
            
            [class^='role-selector'] {
              position: relative;
              width: 42px;
              height: 24px;
              border-radius: 14px;
              box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
              cursor: pointer;
            
              .role-slider {
                content: '';
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                background: white;
                border-radius: 9px;
                margin: 3px;
                z-index: 1;
            
                transition-property: left;
                transition-duration: 0.2s;
              }
              
              &.deselected {
                background: #72767d;
            
                .role-slider {
                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 0px;
                }
              }
              
              &.selected {
                background: #7289da;
            
                .role-slider {
                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 18px;
                }
              }
            }
          }
        }
      }
    }
    
    .bottom-container {
      display: flex;
      justify-content: flex-end;
      background: #2f3136;
      padding: 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    
      .cancel-btn {
        color: white;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        width: 96px;
        min-width: 96px;
        height: 38px;
        min-height: 38px;
        padding: 2px 16px;
      
        &:hover {
          text-decoration: underline;
        }
      }
      
      .submit-btn {
        font-size: 14px;
        min-width: 90px;
        height: 34px;
      }
    }
  
    .create-channel-label {
      color: #8e9297;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 8px;
    
      &.roles-label {
        margin-bottom: 20px;
      }
    }
  }
}  

