.create-channel-form-container {
  width: 440px;
  background: $create-channel-form-bg;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

.create-channel-form {
  display: flex;
  flex-direction: column;
}


// Top header
.create-channel-form-header {
  color: white;
  padding: 20px;
}


// Channel Type input
.create-channel-form-input-container {
  padding: 0px 20px;
}

.create-channel-checkbox-container {
  margin-bottom: 20px;
}

.create-channel-label {
  color: $create-channel-label-txt;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;

  &.roles-container {
    margin-bottom: 20px;
  }
}

.create-channel-checkbox-text-container {
  display: flex;
  align-items: center;
  background: $create-channel-checkbox-selected;
  border: 1px solid $create-channel-checkbox-selected;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.create-channel-checkbox {
  color: $create-channel-checkbox-selected;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.create-channel-input-text {
  display: flex;
  align-items: center;
  margin: 0px 8px;
}

.create-channel-input-text-hash {
  color: $create-channel-text-hash;
  font-size: 20px;
  width: 24px;
  height: 24px;
  margin: 0px 6px;
}

.create-channel-input-text-txt {
  color: white;
  font-size: 16px;
  line-height: 24px;
}


// Channel Name input
.create-channel-input-name-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-channel-input-name {
  height: 18px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;

  &:focus {
    border-color: $active-input;
  }
}


// Private Channel selector
.create-channel-private-container {
  margin-bottom: 20px;
}

.create-channel-private-input-container {
  display: flex;
  justify-content: space-between;
}

.create-channel-private-header-container {
  display: flex;
  cursor: pointer;
}

.create-channel-private-header-lock {
  color: $create-channel-private-lock;
  font-size: 12px;
  line-height: 16px;
  margin: 3px;
}

.create-channel-private-header-txt {
  font-size: 16px;
  line-height: 24px;
}

// .create-channel-private-checkbox {
//   width: 24px;
//   height: 24px;
//   background: rgba(0, 0, 0, 0.1);
//   border: 1px solid $create-channel-checkbox-deselected;
//   border-radius: 3px;
//   cursor: pointer;
  
//   &.deselected > .checkbox {
//     display: hidden;
//   }
  
//   &.selected > .checkbox {
//     display: block;
//     color: $create-channel-checkbox-selected;
//     font-size: 12px;
//     line-height: 24px;
//     text-align: center;
//     width: 24px;
//     height: 24px;
//     background: white;
//     border: 1px solid white;
//     border-radius: 3px;
//   }
// }

.create-channel-private-checkbox {
  position: relative;
  width: 42px;
  height: 24px;
  border-radius: 14px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  cursor: pointer;

  .create-channel-private-slider {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 9px;
    margin: 3px;
    z-index: 1;

    transition-property: left;
    transition-duration: 0.2s;
  }
  
  &.deselected {
    background: $create-channel-private-deselected-bg;

    .create-channel-private-slider {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
  
  &.selected {
    background: $create-channel-private-selected-bg;

    .create-channel-private-slider {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 18px;
    }
  }
}

.create-channel-private-description {
  color: $create-channel-private-description;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 4px;
}


// Private Role selectors
.create-channel-private-role-selection {
  display: flex;
  justify-content: space-between;
  height: 45px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
  margin-bottom: 20px;
}

.role-name {
  font-size: 16px;
  line-height: 24px;
}

[class^='role-selector'] {
  position: relative;
  width: 42px;
  height: 24px;
  border-radius: 14px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  cursor: pointer;

  .role-slider {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 9px;
    margin: 3px;
    z-index: 1;

    transition-property: left;
    transition-duration: 0.2s;
  }
  
  &.deselected {
    background: $create-channel-private-deselected-bg;

    .role-slider {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
  
  &.selected {
    background: $create-channel-private-selected-bg;

    .role-slider {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 18px;
    }
  }
}



// Bottom buttons
.create-channel-form-bottom-container {
  display: flex;
  justify-content: flex-end;
  background: $create-channel-form-bottom-bg;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.create-channel-form-cancel {
  color: white;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  width: 64px;
  height: 34px;
  padding: 2px 16px;
}

.create-channel-form-submit {
  font-size: 14px;
  min-width: 90px;
  height: 34px;
}