.create-server-form-container {
  width: 540px;
  background: white;
  border-radius: 5px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top-container {
    padding: 28px 40px 0px 28px;

    .title {
      color: #7289da;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }

    .text {
      color: #99aab5;
      font-size: 18px;
      text-align: center;
      padding: 10px 0;
    }
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    .left-container {
      width: 240px;

      label {
        color: #87909c;
        font-size: 11px;
        font-weight: 700;
      }

      .input-name {
        color: $create-server-input-name-txt;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        padding: 10px 4px;
        margin-top: 12px;
        border-bottom: 2px solid $underline;
      }

      .region-container {
        margin-top: 32px;
    
        .region-btn {
          display: flex;
          align-items: center;
          margin-top: 10px;
          cursor: pointer;
    
          .region {
            display: flex;
            align-items: center;
            width: 155px;
            padding: 7px;
            border: 1px solid #cdcdcd;
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
    
            .region-flag {
              width: 44px;
              height: 30px;
              background-image: image-url('flag_uswest');
              background-color: #7289da;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 4px;
              margin-right: 16px;
            }
    
            .region-text {
              color: #99aab5;
              font-size: 16px;
              font-weight: 700;
            }
          }
    
          .region-change-btn {
            color: #7289da;
            font-size: 14px;
            line-height: 24px;
            padding: 10px;
            border: 1px solid #cdcdcd;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            text-align: center;
            vertical-align: middle;
          }
    
          &:hover {
            .region {
              border-color: #7289da;
            }
    
            .region-change-btn {
              color: white;
              background: #7289da;
            }
          }
        }
      }
    
      .input-fineprint {
        color: #87909c;
        font-size: 11px;
        line-height: 13px;
        margin: 15px 0px;
      }
    }
  }


  .right-container {
    .icon-container {
      width: 160px;

      .icon-btn {
        .icon {
          width: 128px;
          height: 128px;
          background: #7289da;
          border: 5px solid #ebebeb;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .icon-txt {
        color: #87909c;
        font-size: 10px;
      }
    }
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
    background: $create-server-form-container-bottom;
    padding: 18px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .back-btn {
      color: #99aab5;
      font-size: 12px;
      border-bottom: 2px solid transparent;
  
      .fa-arrow-left {
        margin-right: 10px;
      }
  
      &:hover {
        border-color: $create-server-back-border;
      }
    }
  
    .submit-btn {
      font-size: 14px;
      width: 96px;
      min-width: 96px;
      height: 38px;
      min-height: 38px;
    }
  }
}