.landing-container > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: $landing;
}

.nav-right {
  display: flex;
  align-items: center;
}

.landing-container .nav-right button {
  margin-left: 20px;
  padding: 5px 17px;
  border: 2px solid $landing;
  border-radius: 20px;

  &:hover {
    border-color: $landing-hover;
    color: $landing-hover;
  }
}

.landing-container .nav-right span {
  margin-left: 5px;
}