.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow-y: scroll;
  overflow-x: hidden;

  
  .splash {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: image-url('CatAHHHHHHHHHH0.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }

  nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $landing;
    font-size: 12px;
    width: calc(100% - 263px - 83px);
    max-width: 1600px;
    height: 72px;
    padding: 8px 0px;
    margin: 0 auto;
  }
  
  .nav-left {
    display: flex;
    align-items: center;

    .logo-container {
      display: flex;

      .image-container {
        width: 33px;
        min-width: 33px;
        height: 36px;
        min-height: 36px;

        .logo-image {
          width: calc(487px / 15);
          height: 35.95px;
          background-image: image-url('thisCableIcon.png');
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .txt-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 122px;
        min-width: 122px;
        height: 24px;
        min-height: 24px;
        
        .logo-txt {
          width: 115px;
          height: calc(100px / 6);
          background-image: image-url('thisCableLogo.png');
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    .github-link {
      display: flex;
      align-items: center;
      margin: 15px 10px 17px 24px;
      
      .svg-github {
        fill: $txt-white;
        width: 18px;
        height: 18px;
        margin-bottom: 2px;
        margin-right: 6px;
      }
      
      &:hover {
        color: white;

        .svg-github {
          fill: white;
        }
      }
    }

  }
  
  .nav-right {
    display: flex;
    align-items: center;

    button {
      color: hsla(0,0%,100%,.8);
      line-height: 24px;
      padding: 5px 17px 5px;
      border: 2px solid hsla(0,0%,100%,.8);
      border-radius: 20px;
      opacity: 0.8;
      transition: opacity 0.125s;
      will-change: opacity;
    
      &:hover {
        opacity: 1;
      }
    }

    span {
      margin-left: 5px;
    }
  }
  
  
  .description {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
    max-width: 1200px;
    padding: 72px 50px 0px;
    margin: 0 auto;
    
    .header {
      color: white;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
    }
    
    .blurb {
      color: hsla(0,0%,100%,.6);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 710px;
      margin: 12px auto 30px auto;
    }
  }

  .splash-imgs {
    position: relative;
    width: 100%;
    height: 638px;
    min-height: 638px;

    .shadow {
      position: absolute;
      left: 50%;
      margin-left: -650px;
      bottom: 0;
      border-radius: 50px;
      width: 1300px;
      height: 50px;
      background: rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease;
    }

    svg {
      left: 50%;
      transition: all 0.5s ease;
    }

    .float {
      animation-name: float;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    @keyframes float {
      from {
        transform: translateY(-4px);
      }

      to {
        transform: translateY(4px);
      }
    }

    @mixin nth-triangle($n) {
      &:nth-of-type(#{$n}) {
        @content;
      }
    }

    @mixin nth-dot($n) {
      &:nth-of-type(#{$n + 3}) {
        @content;
      }
    }

    @mixin nth-circle($n) {
      &:nth-of-type(#{$n + 8}) {
        @content;
      }
    }

    @mixin nth-square($n) {
      &:nth-of-type(#{$n + 11}) {
        @content;
      }
    }

    @mixin nth-x($n) {
      &:nth-of-type(#{$n + 14}) {
        @content;
      }
    }

    @mixin nth-coin($n) {
      &:nth-of-type(#{$n + 19}) {
        @content;
      }
    }

    .triangle {
      @include nth-triangle(1) {
        margin-left: -579px;
        bottom: 300px;
      }

      @include nth-triangle(2) {
        margin-left: 31px;
        bottom: 550px;
      }

      @include nth-triangle(3) {
        margin-left: -289px;
        bottom: 448px;
      }
    }

    .dot {
      @include nth-dot(1) {
        margin-left: -599px;
        bottom: 200px;
      }

      @include nth-dot(2) {
        margin-left: -319px;
        bottom: 600px;
      }

      @include nth-dot(3) {
        margin-left: 181px;
        bottom: 500px;
      }

      @include nth-dot(4) {
        margin-left: 531px;
        bottom: 600px;
      }

      @include nth-dot(5) {
        margin-left: 621px;
        bottom: 140px;
      }
    }

    .circle {
      @include nth-circle(1) {
        margin-left: -359px;
        bottom: 530px;
      }

      @include nth-circle(2) {
        margin-left: 576px;
        bottom: 280px;
      }

      @include nth-circle(3) {
        margin-left: -199px;
        bottom: 88px;
      }
    }

    .square {
      @include nth-square(1) {
        margin-left: 17px;
        bottom: 92px;
      }

      @include nth-square(2) {
        margin-left: 431px;
        bottom: 400px;
      }

      @include nth-square(3) {
        margin-left: 331px;
        bottom: 600px;
      }
    }

    .x {
      @include nth-x(1) {
        margin-left: 101px;
        bottom: 440px;
      }

      @include nth-x(2) {
        margin-left: 541px;
        bottom: 220px;
      }

      @include nth-x(3) {
        margin-left: -579px;
        bottom: 510px;
      }
    }

    .potion {
      margin-left: -609px;
      bottom: 10px;
      z-index: 1;
      cursor: pointer;
    }

    .bomb {
      margin-left: -481px;
      bottom: 335px;
      animation-delay: 0.4s;
    }

    .coin {
      @include nth-coin(1) {
        margin-left: -428px;
        bottom: 300px;
      }

      @include nth-coin(2) {
        margin-left: 80px;
        bottom: 530px;
      }
    }

    .cartridge {
      margin-left: 250px;
      bottom: 392px;
    }

    .shield {
      margin-left: 423px;
      bottom: 10px;
    }

    .block {
      margin-left: -239px;
      bottom: 462px;
      cursor: pointer;
      transition: none;
    }

    .desktop {
      margin-left: -289.5px;
      bottom: 10px;
    }

    .android {
      margin-left: -548px;
      bottom: 10px;
      z-index: 2;
    }

    .iphone {
      margin-left: -401.5px;
      bottom: 10px;
    }

    .controller {
      margin-left: -255px;
      bottom: 10px;
    }

    .laptop {
      margin-left: -4px;
      bottom: 10px;
    }

    .headphones {
      margin-left: 270px;
      bottom: 142px;
      transform: scale(0.75);
    }
  }

  @media screen and (max-width: 848px) {
    .splash-imgs {
      height: 410px;
      min-height: 410px;

      .shadow, .triangle, .dot, .circle, .square, .x, .potion, .bomb, .coin, .cartridge,
      .shield, .block, .desktop, .controller {
        display: none;
      }
  
      .android {
        margin-left: -384px;
      }
  
      .iphone {
        margin-left: -229.5px;
      }
  
      .laptop {
        margin-left: -124px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .splash-imgs {
      margin-top: 40px;

      .laptop, .headphones {
        display: none;
      }
  
      .android {
        margin-left: -178px;
        top: 7%;
        bottom: auto;
      }
  
      .iphone {
        margin-left: 34.5px;
        top: 7%;
        bottom: auto;
      }
    }
  }
}