.member-index-container {
  width: 240px;
  min-width: 240px;
  background: $sidebar-bg;
  overflow-y: scroll;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.member-index-item {
  display: flex;
  align-items: center;
  max-width: 224px;
  height: 42px;
  padding: 1px 8px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;

  &:hover {
    color: $tab-hover;
    background: rgba(79, 84, 92, 0.16);
  }

  &:active {
    background: rgba(79, 84, 92, 0.32);
  }
}

.member-index-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $message-user-icon-name;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 12px;

  .svg-logo-cat {
    width: 16px;
    fill: #dcddde;
  }
}

.member-index-item-username {
  color: #8e9297;
  font-size: 16px;
  line-height: 20px;
}