.context-menu-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 56px;
  width: 204px;
  padding: 6px 4px;
  background: #18191c;
  border-radius: 4px;
  z-index: 10;

  .menu-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #b9bbbe;
    min-height: 32px;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 2px 4px;
    cursor: pointer;
  
    &:hover {
      background: rgba(79, 84, 92, 0.16);
    }
  
    &.leave-server {
      color: #f04747;
    }

    .txt {
      line-height: 24px;
    }
  }
}