.server-index-container {
  box-sizing: content-box;
  position: relative;
  height: 100vh;
  width: 72px;
  min-width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202225;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.tooltip {
    &::after {
      top: -50%;
    }
  }

  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #36393f;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.2s;

    .svg-logo-cat {
      width: 24px;
      fill: #dcddde;
    }

    &:hover {
      background: #7289da;
      border-radius: 25%;

      .svg-logo-cat {
        fill: white;
      }
    }
  }

  .server-item-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 4px 0px;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.2s;

    .active-tab {
      position: absolute;
      left: -16px;
      width: 0px;
      height: 0px;
      background: white;
      border-radius: 0 4px 4px 0;
      transition: .15s width ease, .15s height ease;
    }

    &:hover {
      border-radius: 25%;
      
      .active-tab {
        width: 8px;
        height: 20px;
      }
    }

    &.active {
      .active-tab {
        width: 8px;
        height: 40px;
      }
    }

    .server-item {
      color: #dcddde;
      font-size: 18px;
      line-height: 48px;
      text-align: center;
      width: 100%;
      background: #36393f;
      border-radius: 50%;
      cursor: pointer;
      transition-property: border-radius;
      transition-duration: 0.2s;

      &:hover {
        background: #7289da;
        border-radius: 25%;
      }
    }
  } // End item-container

  .divider {
    width: 32px;
    height: 2px;
    background: hsla(0, 0%, 100%, 0.06);
    border-radius: 1px;
    margin: 2px auto;
  }

  .server-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #43b581;
    font-size: 28px;
    text-align: center;
    width: 48px;
    height: 48px;
    background: #36393f;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.2s;

    &:hover {
      fill: white;
      background: #43b581;
      border-radius: 25%;
    }
  }
}