.server-menu-container {
  position: absolute;
  left: 10px;
  top: 56px;
  width: 204px;
  padding: 6px 4px;
  background: $context-menu-bg;
  border-radius: 4px;

  &.hide {
    display: none;
  }

  &.show {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.server-menu-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: $server-menu-option-txt;
  height: 24px;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 2px 4px;
  cursor: pointer;

  &:hover {
    background: $bgray-overlay-hover;
  }

  &.leave-server {
    color: $settings-tab-logout;
  }
}

.server-menu-option-txt {
  line-height: 24px;
}

.server-menu-option-icon {
  margin-left: 4px;
}