.session-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: image-url('CatWHORL.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  form {
    box-sizing: border-box;
    color: white;
    width: 480px;
    padding: 40px;
    border-radius: 5px;
    background: #36393f;

    .title {
      font-size: 26px;
      text-align: center;
      margin-bottom: 8px;
    }

    .subtitle {
      color: #72767d;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }

    .errors {
      color: #8e9297;
      margin-top: 8px;
    }

    .input-container {
      display: flex;
      flex-direction: column;
    
      label {
        color: #8e9297;
        font-size: 12px;
        font-weight: 700;
        margin-top: 20px;

        div {
          margin-bottom: 8px;
        }

        input {
          color: #dcddde;
          font-size: 16px;
          font-weight: 400;
          width: 100%;
          padding: 10px;
          background: rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 3px;
        
          &:focus {
            border-color: $active-input;
          }
        }
      }

      .forgot-password {
        color: #7289da;
        font-size: 14px;
        width: max-content;
        margin: 6px 0px 2px;

        &:hover {
          text-decoration: underline;
        }

        &.tooltip::after {
          content: 'I\'m sorry.';
        }
      }
      
      button {
        width: 100%;
        text-align: center;
        border-radius: 3px;
        padding: 10px;
        margin-top: 20px;
      }
    }
    
    .session-nav {
      font-size: 14px;
      margin-top: 10px;
    
      .switch-msg {
        color: #72767d;
        cursor: default;
      }
      
      .nav-link {
        color: #7289da;
      
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}