.settings-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  
  // Left-side Sidebar
  .container-left {
    display: flex;
    justify-content: flex-end;
    background: $settings-left-bg;
    flex: 1 0 auto;
    
    .sidebar {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: 218px;
      padding: 60px 6px 60px 20px;
      margin-right: 8px;
      
      .tab {
        font-size: 16px;
        line-height: 20px;
        width: 172px;
        padding: 6px 10px;
        margin-bottom: 2px;
        border-radius: 3px;
        cursor: pointer;
      
        &:hover {
          background: rgba(79, 84, 92, 0.16);
        }
      
        &.active {
          font-weight: 700;
          background: rgba(79, 84, 92, 0.32);
          cursor: default;
        }
  
        &.logout {
          color: #f04747;
          cursor: pointer;
          
          &:hover {
            background: rgba(240, 71, 71, 0.1)
          }
          
          &:active {
            color: white;
            background: #f04747;
          }
        }
      }

      .divider {
        height: 1px;
        background: hsla(0, 0%, 100%, 0.06);
        margin: 8px 10px;
      }
    }
  }
  
  // Right-side Content
  .container-right {
    display: flex;
    background: $settings-right-bg;
    flex: 1 1 auto;
    
    .content {
      max-width: 740px;
      min-width: 660px;
      min-height: 100%;
      padding: 60px 40px 80px 40px;
    }
    
    // Exit button
    .exit-container {
      margin-top: 60px;
      
      .exit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border: 2px solid #72767d;
        border-radius: 50%;
        cursor: pointer;
  
        &:hover {
          background: rgba(114,118,125,.3);
        }
      }
      
      .exit-txt {
        color: #72767d;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        margin-top: 8px;
      }
    }
  }
}