.settings-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}


// Left-side Sidebar
.settings-container-left {
  display: flex;
  justify-content: flex-end;
  background: $settings-left-bg;
  flex: 1 0 auto;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 192px;
  padding: 60px 6px 60px 20px;
}

.settings-tab {
  font-size: 16px;
  line-height: 20px;
  width: 172px;
  height: 20px;
  padding: 6px 10px;
  margin-bottom: 2px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: rgba(79, 84, 92, 0.16);
  }

  &:active {
    background: rgba(79, 84, 92, 0.32);
  }
}

.settings-tab.logout {
  color: $settings-tab-logout;
  cursor: pointer;

  &:hover {
    background: rgba(240, 71, 71, 0.1)
  }

  &:active {
    color: white;
    background: $settings-tab-logout;
  }
}


// Right-side Content
.settings-container-right {
  display: flex;
  background: $settings-right-bg;
  flex: 1 1 auto;
}

.settings-content {
  max-width: 740px;
  min-width: 660px;
  min-height: 100%;
  padding: 60px 40px 80px 40px;
}

.settings-content-title {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}


// My Account css may be refactored later
.settings-content-user-info {
  display: flex;
  padding: 20px;
  border: 1px solid $settings-content-border;
  background: rgba(32, 34, 37, 0.6);
  border-radius: 5px;
}

.user-info-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-info-txt-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-info-username {
  margin-bottom: 20px;
}

.user-info-label {
  opacity: 0.8;
  color: $user-info-label;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 4px;
}

.user-info-input {
  color: $user-info-input;
}

.user-info-id {
  opacity: 0.5;
}


// Exit button
.settings-exit-container {
  margin-top: 60px;
}

.settings-exit-btn {
  color: white;
  line-height: 36px;
  text-align: center;
  width: 36px;
  height: 36px;
  border: 2px solid $settings-exit-btn;
  border-radius: 50%;
  cursor: pointer;
}

.settings-exit-txt {
  color: $settings-exit-btn;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  margin-top: 8px;
}