.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  min-width: 232px;
  height: 100vh;
  background: #2f3136;
  
  .title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 700;
    height: 48px;
    min-height: 48px;
    padding: 0px 16px;
    border-bottom: 1px solid #242529;
    margin-bottom: 16px;
    cursor: pointer;
  
    &:hover {
      background: rgba(79, 84, 92, 0.16);
    }

    .svg-open-context-menu {
      transform: translateY(3px);
    }
  
    .svg-open-context-menu, .svg-close-context-menu {
      stroke-width: 2px;
      opacity: 0.8;
    }

    .context-menu-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      position: absolute;
      left: 10px;
      top: 56px;
      width: 220px;
      padding: 6px 4px;
      background: #18191c;
      border-radius: 4px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);

      .menu-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #b9bbbe;
        font-size: 14px;
        line-height: 18px;
        min-height: 32px;
        padding: 4px 8px;
        border-radius: 2px;
        margin: 2px 4px;
        cursor: pointer;
      
        &:hover {
          background: rgba(79, 84, 92, 0.16);
        }
      
        &.leave-server {
          color: #f04747;
        }

        .txt {
          line-height: 24px;
        }
      }
    } // End context-menu-container
  } // End title-container
  
  .user-ui-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    min-height: 52px;
    padding: 0px 10px;
    background: #292b2f;
    
    .user-info-container {
      display: flex;
      align-items: center;
      
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-right: 10px;

        .svg-logo-cat {
          width: 16px;
          fill: #dcddde;
        }
      }
      
      .user-info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .username {
          color: white;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
        }
        
        .id {
          color: #b9bbbe;
          font-size: 10px;
          line-height: 13px;
        }
      }
    } // End user-info-container
    
    .btn-container {
      color: #b9bbbe;
      display: flex;
      justify-content: space-between;
    
      .ui-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
        
        &:hover {
          background: #33363b;
        }
      }
    }
  } // End user-ui-container
}
